<main class="p-5">
    <div class="row">
        <div class="mb-4">            
                <label class="form-label">Email address</label>
                <input class="form-control">
                <div class="form-text text-danger">Error. You need to set correct email</div>  
        </div>
        <div class="mb-4"> 
            <div class="row">
                <div class="col-2">
                    <label class="form-label pt-1">Email address</label>
                </div>
                    <div class="col-6">
                    <input  class="form-control form-control-sm ">
                </div>
                    <div class="col-4">
                    <div class="form-text text-danger pt-1">Error. You need to set correct email</div>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        
        <div class="col-12s">            
            <label class="form-label">Select role</label>
            <select class="form-select form-select-sm">
                <option selected>Open list</option>
                <option value="1">admin</option>
                <option value="2">user</option>
            </select> 
            <div class="form-text text-danger pt-1">Error. You need to set correct email</div>               
        </div>

        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-label">Select food</div>
            <div class="form-check">               
                <input name="food" type="checkbox" class="form-chek-input">
                <label class="form-check-label">Apple</label>
            </div>
             <div class="form-check">               
                <input name="food" type="checkbox" class="form-chek-input">
                <label class="form-check-label">Orange</label>
            </div>
             <div class="form-check">               
                <input name="food" type="checkbox" class="form-chek-input">
                <label class="form-check-label">Banana</label>
            </div>
        </div>

        <div><hr></div>

        <div class="col-12">
            <div class="form-label">Select food</div>
            <div class="form-check">               
                <input name="food" type="radio" class="form-chek-input">
                <label class="form-check-label">Apple</label>
            </div>
             <div class="form-check">               
                <input name="food" type="radio" class="form-chek-input">
                <label class="form-check-label">Orange</label>
            </div>
             <div class="form-check">               
                <input name="food" type="radio" class="form-chek-input">
                <label class="form-check-label">Banana</label>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div class="col-12">            
            <div class="form-check form-switch">                
                <label class="form-check-label">Get bonus</label>
                <input name="food" type="checkbox" class="form-chek-input">                
            </div>            
        </div>
    </div>
</main>