<div class="p-5">
    <main >
        <h1><i class="bi bi-emoji-smile-upside-down"></i></h1>
    </main>
    
    <button>
        <i class="bi bi-exclamation-circle"></i>
    </button>

    <h6>
        <div><i class="fa-brands fa-slack fa-flip-horizontal fa-2xs" style="color: #2861c3;"></i></div>
    </h6>

    <button class="btn btn-primary"><i class="fa-brands fa-slack fa-flip-horizontal fa-2xs" style="color: #2861c3;"></i></button>


</div>

<div class="p-5 ">
    <img height="20" src="/svg/slack.svg">
</div>
