<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Title performers on the yellov</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Title</div>

    <hr>

    <div class="text-muted text-end">
         Додатковий <span class="display-3">текст</span>
    </div>

    <hr>
    <div class="card">
        <div class="card-body">

            <a href="#" class="btn btn-primary"> 
                btn-primary
            </a>
            <a href="#" class="btn btn-secondary"> 
                btn-secondary
            </a>
            <a href="#" class="btn btn-success"> 
                btn-success
            </a>
            <a href="#" class="btn btn-danger"> 
                btn-danger
            </a>
            <a href="#" class="btn btn-warning"> 
                btn-warning
            </a>
            <a href="#" class="btn btn-info"> 
                btn-info
            </a>
            <a href="#" class="btn btn-light"> 
                btn-light
            </a>
            <a href="#" class="btn btn-dark"> 
                btn-dark
            </a>
            <a href="#" class="btn btn-link"> 
                btn-link
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">

            <p class="text-primary">
                text-primary
            </p>
            <p class="text-secondary">
                text-secondary
            </p>
            <p class="text-success">
                text-success
            </p>
            <p class="text-danger">
                text-danger
            </p>
            <p class="text-warning">
                text-warning
            </p>
            <p class="text-info">
                text-info
            </p>
            <p class="text-light">
                text-light
            </p>
            <p class="text-dark">
                text-dark
            </p>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">btn-outline-primary,btn lg</button>
            <button class="btn btn-outline-secondary">btn-outline-secondary</button>
            <button class="btn btn-outline-success btn-sm">btn-outline-success,btn-sm</button>
            <button class="btn btn-outline-danger">btn-outline-danger</button>
            <button class="btn btn-outline-warning">btn-outline-warning</button>
            <button class="btn btn-outline-info">btn-outline-info</button>
            <button class="btn btn-outline-light">btn-outline-light</button>
            <button class="btn btn-outline-dark">btn-outline-dark</button>
        </div>
    </div>

   <br>
   <br>
   <br>
    
    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
           
</main>