
<!DOCTYPE html>

<html class="m-3">

   

    <body>
        <strong class=" display-3">Список сторінок</strong>

        <h2>Будь-який текст</h2>


        <div class="card-body g-3 py-3">
            <div><a href="bio" class="btn mb-3  btn-primary col-3">bio</a></div>
            <div><a href="car" class="btn  mb-3 btn-primary col-3">car</a></div>
            <div><a href="education" class="btn  mb-3 btn-primary col-3">education</a></div>
            <div><a href="facebook" class="btn  mb-3 btn-primary col-3">facebook</a></div>
            <div><a href="js" class="btn  mb-3 btn-primary col-3">js</a></div>
            <div><a href="mac" class="btn  mb-3 btn-primary col-3">mac</a></div>
            <div><a href="person" class="btn mb-3  btn-primary col-3">person</a></div>
            <div><a href="program" class="btn  mb-3 btn-primary col-3">program</a></div>
            <div><a href="shopcatalog" class="btn mb-3  btn-primary col-3">shopcatalog</a></div>
            <div><a href="shophome" class="btn  mb-3 btn-primary col-3">shophome</a></div>
            <div><a href="shoporder" class="btn  mb-3 btn-primary col-3">shoporder</a></div>
            <div><a href="shopprofile" class="btn  mb-3 btn-primary col-3">shopprofile</a></div>
            <div><a href="shopreview" class="btn mb-3  btn-primary col-3">shopreview</a></div>
            <div><a href="skills" class="btn mb-3  btn-primary col-3">skills</a></div>
            <div><a href="summary" class="btn mb-3  btn-primary col-3">summary</a></div>
            <div><a href="task21" class="btn  mb-3 btn-primary col-3">task21</a></div>
            <div><a href="task22" class="btn mb-3  btn-primary col-3">task22</a></div>
            <div><a href="task31" class="btn  mb-3 btn-primary col-3">task31</a></div>
            <div><a href="web" class="btn mb-3  btn-primary col-3">web</a></div>
            <div><a href="work" class="btn  mb-3 btn-primary col-3">work</a></div>
        </div>

    </body>


</html>














