<div>
    {{#if big}}
    <h2 class="mb-4"> {{data}} </h2>
    {{else}}
    <h3 class="mb-3">{{data}}</h3>
    {{/if}}
</div>

<style>
    h3{
        color: green;
    }
    h2{
        color: gray;
    }
</style>