{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
{{{body}}}

{{#with footer}}
<footer>
    <hr>
    <br>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true }}
        {{> link text=phone.text href=phone.href blank=true }}
        {{> link text=linkedin.text href=linkedin.href blank=true }}
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copright by {{../header/name.firstname}} {{../header/name/lastname}} </em>
    </div>
    <br>
    <div>
        <em>
            adress {{../header.adress}}
        </em>
    </div>

    {{!-- {{> link href=email.href text=email.text}}
    Якщо немає тегу {{#with}} --}}
    {{!-- {{> link acb=href def=text}}
    Якщо не сходяться дані то потрібні додаткові уточнення --}}

</footer>
{{/with}}
</body>

</html>